<div class="container">
	<div class="container">
		<mat-card class="card">
			<mat-card-content>
				<div class="linha">
					<div class="coluna coluna100" style="padding-top: 30px">
						<mat-form-field>
							<mat-label>Filtro</mat-label>
							<input matInput (keyup)="applyFilter($event)" placeholder="Ex: Corante" #input>
						</mat-form-field>
					</div>
				</div>
				<button type="button" mat-raised-button color="primary"
					style="float:inline-end; padding-top: 0px; height: 40px" [disabled]="!AlgumProdutoComQtde()"
					(click)="scroll('fecharPedido')">Fechar Pedido</button>
				<div class="mat-elevation-z8" style="margin-top: 10px;">
					<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
						(matSortChange)="onSortData($any($event))">
						<ng-container *ngFor="let column of getColumns(); let i = index" matColumnDef="{{ column.field }}">
							<mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.display }}</mat-header-cell>
							<mat-cell *matCellDef="let row" (click)="edit(row['Id'], column.field)">
								<span *ngIf="i < 3" (click)="editRowId=-1">{{ row[column.field] }}</span>
								<ng-container *ngIf="i === 3 && (row['Id'] !== editRowId || !edicaoQtde)">
									<span (click)="editRowId=-1">{{ row[column.field] }}</span>
								</ng-container>
								<ng-container *ngIf="i === 4 && (row['Id'] !== editRowId || !edicaoVenda)">
									<span (click)="editRowId=-1">{{ row[column.field] | currency }}</span>
								</ng-container>
								<ng-container *ngIf="i === 3 && row['Id'] === editRowId && campo === 'qProd'">
									<!-- <input matInput type="number" appearance="standard" name="qProd"
										(ngModelChange)="row['qProd'] = $event === '' ? 0 : $event"
										[ngModel]="row['qProd']"> -->
									<!-- [(ngModel)]="row['qProd']" -->
									<mat-form-field appearance="outline"
										style="margin-top:10px; margin-bottom: 0px; padding: 0px; padding:0">
										<mat-label>Quantidade</mat-label>
										<input matInput type="number" name="qProd"
											(ngModelChange)="row['qProd'] = $event === '' ? 0 : $event"
											[ngModel]="row['qProd']">
										<mat-icon matSuffix style="padding:0 5px;display: inline;"
											(click)="editRowId=-1">save</mat-icon>
									</mat-form-field>
								</ng-container>
								<ng-container *ngIf="i === 4 && row['Id'] === editRowId && campo === 'vVenda'">
									<mat-form-field appearance="outline"
										style="margin-top:10px; margin-bottom: 0px; padding: 0px; padding:0">
										<mat-label>Valor unitário</mat-label>
										<input matInput type="number" name="vVenda"
											(ngModelChange)="row['vVenda'] = $event === '' ? 0 : $event"
											[ngModel]="row['vVenda']">
										<mat-icon matSuffix style="padding:0 5px;display: inline;"
											(click)="editRowId=-1">save</mat-icon>
										<!-- <mat-icon matSuffix style="padding:0;display:inline;">mode_edit</mat-icon> -->
									</mat-form-field>
								</ng-container>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
						<!-- Group header -->
						<ng-container matColumnDef="groupHeader">
							<mat-cell colspan="999" *matCellDef="let group">
								<mat-icon *ngIf="group.expanded">expand_less</mat-icon>
								<mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
								<!-- {{groupByColumns[group.level-1]}} -->
								<strong>
									{{group[groupByColumns[group.level-1]]}}
									({{group.totalCounts}})</strong>
							</mat-cell>
						</ng-container>
						<mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;"
							(click)="groupHeaderClick(row)"> </mat-row>
					</mat-table>
				</div>
			</mat-card-content>
		</mat-card>
		<mat-card class="card" *ngIf="AlgumProdutoComQtde()" id="fecharPedido" style="margin: 15px 0 15px 0; padding-left: 10px;">
			<h2>Preencha os dados do cliente</h2>
			<form [formGroup]="form">
				<input matInput formControlName="Id" [hidden]="true">
				<div class="linha">
					<div class="coluna coluna25" [ngClass]="{'coluna50': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>CNPJ</mat-label>
							<input matInput placeholder="Buscar cliente" [textMask]="documentoMask"
								(keyup)="BuscarEmpresa($event)" SelectOnFoscus #inputCliente formControlName="cnpj">
							<button matSuffix mat-button>
								<mat-icon (click)="BuscarEmpresaIcon(inputCliente.value)">search</mat-icon>
							</button>
							<mat-error *ngFor="let validation of validation_messages.cnpj">
								<mat-error class="error-message"
									*ngIf="form.controls['cnpj'].errors?.[validation.type] && (form.controls['cnpj'].dirty || form.controls['cnpj'].touched)">
									{{validation.message}}
								</mat-error>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="coluna coluna10" [ngClass]="{'coluna25': !isPhonePortrait}">
						<button type="button" mat-raised-button color="primary"
							style="float:inline-end;margin-top: 10px" [disabled]="form.controls['nome'].value == ''"
							(click)="form.reset();">Limpar</button>
					</div>
					<div class="coluna coluna10" [ngClass]="{'coluna25': !isPhonePortrait}">							
						<button type="button" mat-raised-button color="primary"
							style="float:inline-end;margin-top: 10px" [disabled]="form.controls['nome'].value == ''"
							(click)="SalvarPedido()">Salvar</button>
					</div>
				</div>
				<div class="linha">
					<div class="coluna coluna-isPhonePortrait">
						<mat-form-field appearance="outline">
							<mat-label>Inscrição Estadual</mat-label>
							<input matInput placeholder="Inscrição Estadual" formControlName="IE">
						</mat-form-field>
					</div>
				</div>

				<div class="linha">
					<div class="coluna coluna-isPhonePortrait">
						<mat-form-field appearance="outline">
							<mat-label>Nome</mat-label>
							<input matInput placeholder="Nome do cliente" formControlName="nome" #inputNome>
							<mat-error *ngFor="let validation of validation_messages.nome">
								<mat-error class="error-message"
									*ngIf="form.controls['nome'].errors?.[validation.type] && (form.controls['nome'].dirty || form.controls['nome'].touched)">
									{{validation.message}}</mat-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="linha">
					<div class="coluna coluna-isPhonePortrait">
						<mat-form-field appearance="outline">
							<mat-label>Fantasia</mat-label>
							<input matInput placeholder="Nome fantasia do cliente" formControlName="fantasia">
						</mat-form-field>
					</div>
				</div>

				<div class="linha">
					<div class="coluna coluna25" [ngClass]="{'coluna33': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>CEP</mat-label>
							<input matInput placeholder="CEP" formControlName="cep" (keyup.enter)="ObterEndereco()"
								appMaskCep appSelectOnFocus [textMask]="cepMask">
							<button matSuffix mat-button>
								<mat-icon (click)="ObterEndereco()">search</mat-icon>
							</button>
						</mat-form-field>
					</div>
					<div class="coluna coluna25" [ngClass]="{'coluna66': !isPhonePortrait}">
						<label class="form-check-label" for="indMe">Micro empresa?
							<input type="checkbox" formControlName="me" id="me" class="form-check-input">
						</label>
					</div>
				</div>

				<div class="linha">
					<div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>Endereço</mat-label>
							<input matInput placeholder="Endereço do cliente" formControlName="endereco">
						</mat-form-field>
					</div>
					<div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>Número</mat-label>
							<input matInput placeholder="Número do endereço" formControlName="numero">
						</mat-form-field>
					</div>
					<div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>Complemento</mat-label>
							<input matInput placeholder="Complemento do endereço" formControlName="complemento">
						</mat-form-field>
					</div>
				</div>

				<div class="linha">
					<div class="coluna coluna25" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>Bairro</mat-label>
							<input matInput placeholder="Bairro do cliente" formControlName="bairro">
						</mat-form-field>
					</div>
					<div class="coluna coluna50" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>Cidade</mat-label>
							<input matInput placeholder="Cidade do cliente" formControlName="cidade">
						</mat-form-field>
					</div>
					<div class="coluna coluna25" [ngClass]="{'coluna-isPhonePortrait': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>UF</mat-label>
							<mat-select matInput placeholder="UF" formControlName="uf">
								<mat-option value="-1">[ Selecione o estado ]</mat-option>
								<mat-option *ngFor="let uf of Estados" [value]="uf.key">
									{{ uf.key }}-{{ uf.value }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="linha">
					<div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>DDD</mat-label>
							<input matInput placeholder="DDD" formControlName="ddd" maxlength="2" appSelectOnFocus>
						</mat-form-field>
					</div>
					<div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>1º Telefone</mat-label>
							<span matPrefix></span>
							<mat-icon matPrefix>phone</mat-icon>
							<input matInput placeholder="1º telefone" formControlName="fone" [textMask]="foneMask"
								appSelectOnFocus>
						</mat-form-field>
					</div>
					<div class="coluna coluna10" [ngClass]="{'coluna33': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>DDD</mat-label>
							<input matInput placeholder="DDD" formControlName="ddd2" maxlength="2" appSelectOnFocus>
						</mat-form-field>
					</div>
					<div class="coluna coluna40" [ngClass]="{'coluna66': !isPhonePortrait}">
						<mat-form-field appearance="outline">
							<mat-label>2º Telefone</mat-label>
							<span matPrefix></span>
							<mat-icon matPrefix>phone</mat-icon>
							<input matInput placeholder="2º telefone" formControlName="fone2" [textMask]="foneMask"
								appSelectOnFocus>
						</mat-form-field>
					</div>
				</div>
				<div class="linha">
					<div class="coluna coluna-isPhonePortrait">
						<mat-form-field appearance="outline">
							<mat-label>E-mail</mat-label>
							<mat-icon matPrefix>email</mat-icon>
							<span matPrefix></span>
							<input formControlName="email" matInput placeholder="E-mail" maxlength="100" type="email">
							<mat-error *ngFor="let validation of validation_messages.email">
								<mat-error class="error-message"
									*ngIf="form.controls['email'].errors?.[validation.type] && (form.controls['email'].dirty || form.controls['email'].touched)">
									{{validation.message}}
								</mat-error>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
			</form>
		</mat-card>
	</div>
</div>